extends layouts/header.jade

block content
			.page-data
			
				form(method="post" action="/productos/edit/#{data[0].id}")
					table(cellpadding="11")
						tr
							td.label Nombre
							td :
								input(type="text" name="nombre" value="#{data[0].nombre}" required)
						tr
							td.label(valign="top") Descripcion
							td(valign="top") :
								textarea(name="descripcion" required cols="30" rows="5") #{data[0].descripcion}
						tr
							td.label Precio
							td :
								input(type="number" value="#{data[0].precio}" name="precio" required)
						tr
							td.label Imagen
							td :
								input(type="text" name="imagen" value="#{data[0].imagen}" )
						tr
							td.label
							td
								input(type="submit" name="submit" value="Save")
								input(type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()")
							
			include layouts/footer.jade
